/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.comment-wrapper{
  margin: 25px;
}
.comment{
  width: 50%;
  min-width: 400px;
  margin-top: 15px;
  background: #efefef;
  padding: 10px;
}

.comment .metadata{
  text-align: right;
}

.comment-input{
  margin-top: 20px;
}

.comment-input-field{
  width: 400px;
}

.review-wrapper{
  margin: 25px;
}

#bookheader {
  border-bottom: 2px solid lightgray;
  margin-bottom: 2em;
}

#author {
  color: dimgray;
}

.price {
  font-size: 2em;
  color: green;
}

.info {
  width: 100%;
}

.bewertung {
  padding: 0.5em;
}

#to-cart {
  float: right;
}